[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
flask-restplus = "*"
pylint = "*"
"autopep8" = "*"
pyjwt = "*"
flask-script = "*"
flask-bcrypt = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.5"
