.headline h1{
    font-size: 2rem;
}


/*==========QUESTIONS LIST WITH THE MOST ANSWERS===============*/
#questions-list, #questions-with-most-answers-list, #profile-hits{
    column-count: 1;
    position: relative;
}

@media only screen and (min-width: 800px){
    #profile-hits{
        column-count: 3;
    }

    #questions-list, #questions-with-most-answers-list{
        column-count: 4;
    }

    .details code{
        font-size: 4rem;
    }
}