<link href="css/questions/index.css" rel="stylesheet" />

<div id="questions">

    <div class="questions shadow-depth-2 bg-white margin-1 padding-1">
        <div class="headline">
            <h1>This is a sample question</h1>
        </div>
        <div class="details margin-1">
            <code>
                What is Lorem Ipsum?

                Lorem Ipsum is simply dummy text of the printing and typesetting industry.ambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
            </code>
        </div>
        <div class="answers"></div>
        <div class="footer-details">
            <div class="read-more">Show Answers</div>
            <div class="accepted" title="accepted"></div>
            <div class="votes" title="votes">3</div>
        </div>
    </div>

</div>
