<link href="css/questions/index.css" rel="stylesheet" />

<div id="questions">
    <div class="questions shadow-depth-2 bg-white margin-1 padding-1">
        <div class="headline">
            <h1>This is a sample question</h1>
        </div>
        <div class="details margin-1">
            <code>
                What is Lorem Ipsum?

                Lorem Ipsum is simply dummy text of the printing and typesetting industry.ambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
            </code>
        </div>
        <div class="footer-details">
            <div class="accepted" title="accepted"></div>
            <div class="votes" title="votes">3</div>
        </div>
    </div>

    <div class="questions shadow-depth-2 bg-white margin-1 padding-1">
        <div class="headline">
            <h1>This is a sample question</h1>
        </div>
        <div class="details margin-1">
            <code>
                What is Lorem Ipsum?

                Lorem Ipsum is simply dummy text of the printing and typesetting industry. onic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </code>
        </div>
        <div class="footer-details">
            <div class="accepted" title="accepted"></div>
            <div class="votes" title="votes">3</div>
        </div>
    </div>

    <div class="questions shadow-depth-2 bg-white margin-1 padding-1">
        <div class="headline">
            <h1>This is a sample question</h1>
        </div>
        <div class="details margin-1">
            <code>
                What is Lorem Ipsum?

                Lorem Ipsum is simply dummy text of the printing and typesetting industry. it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </code>
        </div>
        <div class="footer-details">
            <div class="accepted" title="accepted"></div>
            <div class="votes" title="votes">3</div>
        </div>
    </div>

    <div class="questions shadow-depth-2 bg-white margin-1 padding-1">
        <div class="headline">
            <h1>This is a sample question</h1>
        </div>
        <div class="details margin-1">
            <code>
                What is Lorem Ipsum?

                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </code>
        </div>
        <div class="footer-details">
            <div class="accepted" title="accepted"></div>
            <div class="votes" title="votes">3</div>
        </div>
    </div>
</div>

