
#auth{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#auth-header{
    display: flex;
    flex-direction: column;
}

#auth-header #active{
    border-bottom: 1px solid #E65100;
}

#auth-header div:hover{
    /*background-color: rgba(233, 233, 232, 0.8);*/
    border-bottom: 1px solid #E65100;
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    cursor: pointer;
}

#auth input[type=submit]{
    background-color: #E65100;
    color: white;
}



.login-body, .register-body{
    position: relative;
    transition: all .2s cubic-bezier(.25,.8,.25,1);
    animation: fadeIn .2s;
}

.register-body{
    display: none;
}

.input-field input{
    width: 100%;
}

@media only screen and (min-width: 800px){
    #auth *{
        font-size: 1rem;
    }
}
