
<link href='css/questions/index.css' rel='stylesheet' />
<link href='css/profiles/index.css' rel='stylesheet' />

<div id='user'>
    <div id='questions'>
        <div class='questions shadow-depth-2 bg-white margin-1 padding-1 red-dashed pointer'>
            <div class='headline' title='Title the user gave the question'>
                <h1>Number of Questions Asked</h1>
            </div>
            <div class='details margin-1' title='Details about the question asked'>
                <code>
                    %content%
                </code>
            </div>
        </div>

        <div class='questions shadow-depth-2 bg-white margin-1 padding-1 red-dashed pointer'>
            <div class='headline' title='Title the user gave the question'>
                <h1>Number of Answers Given</h1>
            </div>
            <div class='details margin-1' title='Details about the question asked'>
                <code>
                    %content%
                </code>
            </div>
        </div>
    </div>


    <h3>Your questions with the most answers</h3>
    <div id='questions-list'>
        <div class='questions shadow-depth-2 bg-white margin-1 padding-1 red-dashed pointer'>
            <div class='headline' title='Title the user gave the question'>
                <h1>Number of Questions Asked</h1>
            </div>
            <div class='details margin-1' title='Details about the question asked'>
                <code>
                    %content%
                </code>
            </div>
        </div>

        <div class='questions shadow-depth-2 bg-white margin-1 padding-1 red-dashed pointer'>
            <div class='headline' title='Title the user gave the question'>
                <h1>Number of Answers Given</h1>
            </div>
            <div class='details margin-1' title='Details about the question asked'>
                <code>
                    %content%
                </code>
            </div>
        </div>

        <div class='questions shadow-depth-2 bg-white margin-1 padding-1 red-dashed pointer'>
            <div class='headline' title='Title the user gave the question'>
                <h1>Number of Answers Given</h1>
            </div>
            <div class='details margin-1' title='Details about the question asked'>
                <code>
                    %content%
                </code>
            </div>
        </div>
    </div>

    <h3>Questions you've asked in the past</h3>
    <div id='questions-list'>
        <div class='questions shadow-depth-2 bg-white margin-1 padding-1 red-dashed pointer'>
            <div class='headline' title='Title the user gave the question'>
                <h1>Number of Questions Asked</h1>
            </div>
            <div class='details margin-1' title='Details about the question asked'>
                <code>
                    %content%
                </code>
            </div>
        </div>

        <div class='questions shadow-depth-2 bg-white margin-1 padding-1 red-dashed pointer'>
            <div class='headline' title='Title the user gave the question'>
                <h1>Number of Answers Given</h1>
            </div>
            <div class='details margin-1' title='Details about the question asked'>
                <code>
                    %content%
                </code>
            </div>
        </div>

        <div class='questions shadow-depth-2 bg-white margin-1 padding-1 red-dashed pointer'>
            <div class='headline' title='Title the user gave the question'>
                <h1>Number of Answers Given</h1>
            </div>
            <div class='details margin-1' title='Details about the question asked'>
                <code>
                    %content%
                </code>
            </div>
        </div>
    </div>
</div>